#TitleApp {
  width: 100%;
  height: 100%;
  color:black;
  position:absolute;
  text-align:center;
  background-color:wheat;
}

#TitleApp h1 {
  margin:auto;
  line-height:50px;
  vertical-align:middle;
}