<div class="container">
  <h1>Tenants</h1>
  <a href="#" routerLink="" class="btn btn-primary align-btn">Back</a>
  <div class="p-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Contact Info</th>
          <th>Lease Term Start</th>
          <th>Lease Term End</th>
          <th>Rental Payement Status</th>
          <th>PropertyID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tenant of tenants">
          <td>{{ tenant.id }}</td>
          <td>{{ tenant.name }}</td>
          <td>{{ tenant.contactInfo }}</td>
          <td>{{ tenant.leaseTermStart }}</td>
          <td>{{ tenant.leaseTermEnd }}</td>
          <td>{{ tenant.rentalPayementStatus }}</td>
          <td>{{ tenant.propertyID }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
